extends layout

block content

    link(rel='stylesheet', href='css/p2.css')

    body
        .navbar.navbar-default.navbar-fixed-top(role='navigation')
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/greetingadmin') Let's Eat!
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='/userlist') Account Management
                    li
                        a(href='/neworder') New Order
                    li
                        a(href='/orderhistory') Order History
                    li
                        a(href='/') Log out

    .container
        .row.clearfix
            .column.col-xs-2
            .column.col-xs-8#header
                .col-xs-7
                    h2 Date
                .col-xs-3
                    h2 Restaurant
                .col-xs-2
                    h2 Price
        .row.clearfix
            .column.col-xs-2
            .column.col-xs-8#data
                table.table
                    tbody
                        if(orderHistory != "")
                            each oneOrder, i in orderHistory
                                tr
                                    td= oneOrder.order.date.toLocaleDateString() + " "+ oneOrder.order.date.toLocaleTimeString()
                                    td= oneOrder.order.restname
                                    if(oneOrder.order.price != "")
                                        td $#{oneOrder.order.price}
                                    else
                                        td -




    script(src='js/vendor/jquery-1.11.0.min.js')
    script(src='js/vendor/bootstrap.min.js')
    script(src='js/p.js')
    script(src='moment/moment.js')
